body {
	background-color: violet;
}
#inputbox {
	width: 100%;
	font-size: 40px;
	border-radius: 0px;
	border: none;
	text-align: right;
	background-color: black;
	color: white;
	padding: 10px;
}
input:focus {
	outline: 0;
}

@media (min-width: 300px) {
	body {
		padding: 0.5cm;
	}
	#main-box {
		border: 1px solid black;
		width: 500px;
	}
	.inner-box {
		display: flex;
	}
	.number-box {
		flex: 3;
		background-color: #81c8f4;
		padding: 0.5cm 0;
		text-align: center;
	}
	.operations-box {
		flex: 1;
		padding: 0.5cm 0;
		background-color: white;
	}
	.number-box > div > button,
	#btnClear,
	#btnEqual {
		border-radius: 50%;
		/* background-color: #81c8f4; */
		background-color: red;
		color: white;
		border: none;
		margin: 5px 6px;
		padding: 5px 15px;
		font-size: 25px;
		box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.16);
	}

	button:focus {
		outline: none;
	}
	button:hover {
		background-color: white;
		color: black;
	}

	.operations-box > button {
		width: 100%;
		padding: 10px 0;
		font-size: 25px;
		border: none;
		background-color: white;
	}
	.operations > button:hover {
		transition: 1s;
		background-color: lightgray;
	}
	#btnClear,
	#btnEqual {
		cursor: pointer;
		background-color: black;
	}
}

@media (min-width: 500px) {
	body {
		padding: 1cm;
	}
	.number-box > div > button,
	#btnClear,
	#btnEqual {
		width: 55px;
		height: 55px;
		margin: 6px 15px;
		font-size: 30px;
	}
	.operations-box > button {
		padding: 15px 0;
		font-size: 25px;
		border: none;
	}
}
